.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    
  }
.card-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 1em;
}


			<img alt="liga" class= "title-img" src="../static/img/liga.png">
			
			* {
	box-sizing: border-box;
	outline: 1px solid;
		background-color: #6775f1;
	
}
background-color: #4a4aff