
@media only screen and (max-width:1000px){
	div.publicidad, div.colum-3{
	display:none;
	}
	div.colum-9{
	width:100%;
	}
}


.title {
	background-image:url("../img/liga.jpg");
	text-align: center;
	color: black;
	padding: 5%;
	font-family: fantasy;
	height:270px;
}
.title1{
	background-color:silver;
	margin-left:25%;
	margin-right: 25%;
	padding:2%;
	font-size:300%;
	border: 5px solid white;
	border-radius: 1rem;
	
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #e7fefb;
  
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.nav-link:HOVER{
	background-color:#0080ff;
	color:white;
}

.principal{
	background-color: #bbb7f0;
	padding:1%;
}

.row0 {
	display : flex;
	width: 100%;
	display: flex;
	margin-top:1%;
}

.colum-9 {
	width: 75%
}

.colum-3 {
	width: 25%;
}

.colum-4 {
	width: 33.33%;
}

.cont{
	background-color: #d2f1fb; 
}

.not {
	background-color: #0080ff;
	margin: 15px;
	color: #0000a0;
	font-family:cursive;
	padding-left:10px;
}

.card-0 {
	background-color: #6775f1;
	margin: 1%;
	padding:1%;
	border-radius: 5px;
	display:flex;
	
}

#card-inside0{
	background-color:white;
	padding:2%;
	border-radius: 5px;
	
}

.card-img0 {
	width: 90%;
	height: 150px;
	display:block;
	margin: 5px auto;
}

.card-body0 {
	margin: 10% 3% 5% ;
}

.card-deck0 {
	display:flex;
	margin:1%;
}

.publicidad{
	background-color: #d2f1fb; 
	margin-left:1%;
	
}

.ausp{
	background-color: #98bbfc;
	margin: 15px;
	color: #000000;
	padding-left:10px;
	border-radius: 20px;
	text-align: center;
		
}

.ausp-img{
	width: 70%;
	display:block;
	margin: auto;
	margin-top: 10px;
	margin-bottom:10px;
}


.footer{
	background-color: #e0fbfc;
	margin-top:1%;
	padding:1%;
	
}

.footer-details{
	font-family:Arial;
}

.footer-redes{
	background-color: #82c0ff;
	padding:1%;
	
}
.red{
	font-family:Arial;
	display: flex;
	margin-top:1%;
}

.redes-img{
	width:2%;
	height:2%;
	
}




.equipo{
	margin:2%;
	padding: 1%;
	border:5px solid white;
	display:flex;
	
}

.equipo-img{
	width:20%;
}

.descrip{
	margin: 1%;
	padding: 1%;
	border-left: 5px solid #9298e2;
}