<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>Liga de fútbol profesional- Equipos</title>
</head>
<body>

	<div class=principal>
		<div>
			<div class="title">
				<h1 class="title1">Liga de futbol profesional</h1>
			</div>
			<div class="nav">
				<nav>
					<a class="nav-link" href="index.html">Home</a>
					<a class="nav-link" href="fixture.html">Fixture y resultados</a>
					<a class="nav-link" href="equipos.html">Equipos</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="equipo">
				<img alt="boca" class="equipo-img" src="../static/img/boca.png">
				</div>
				<div class="equipo">
				<img alt="river" class="equipo-img" src="../static/img/river.png">
				</div>
				<div class="equipo">
				<img alt="independiente" class="equipo-img" src="../static/img/independiente.png">
				</div>
				<div class="equipo">
				<img alt="racing" class="equipo-img" src="../static/img/racing.png">
				</div>
				<div class="equipo">
				<img alt="san_lorenzo" class="equipo-img" src="../static/img/san_lorenzo.png">
				</div>
				<div class="equipo">
				<img alt="velez" class="equipo-img" src="../static/img/velez.png">
				</div>
				
			</div>
			<div class="col-3">
				<div class="ausp"><h3>Auspiciantes</h3></div>
				<div>
				<img alt="adidas" class="ausp-img" src="../static/img/adidas.jpg">
				<img alt="santander" class="ausp-img" src="../static/img/santander.jpg">
				<img alt="chevrolet" class="ausp-img" src="../static/img/chevrolet.jpg">
				<img alt="fravega" class="ausp-img" src="../static/img/fravega.jpg">
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-details">
					<p><b>Av.Pedro Ortiz de Zárate N°455 - Tel 3884789555</b></p>
					<p><b>© 2020 LaLiga</b></p>
			</div>
			<div class="footer-redes">
			<p><h4>Seguínos:</h4></p>
				<div class="red"><img alt="instagram" class="redes-img" src="../static/img/instagram.png"> @laliga</div>
				<div class="red"><img alt="facebook" class="redes-img" src="../static/img/facebook.png"> La Liga</div>
				<div class="red"><img alt="twitter" class="redes-img" src="../static/img/twitter.png"> @LaLiga</div>
				<div class="red"><img alt="youtube" class="redes-img" src="../static/img/youtube.png"> LaLiga</div>
			</div>
		</div>
	</div>

</body>
</html>