<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>Liga de fútbol profesional- Home</title>
</head>
<body>

	<div class=principal>
		<div>
			<div class="title">
				<h1 class="title1">Liga de futbol profesional</h1>
			</div>
			<div class="nav">
				<nav>
					<a class="nav-link" href="index.html">Home</a>
					<a class="nav-link" href="fixture.html">Fixture y resultados</a>
					<a class="nav-link" href="equipos.html">Equipos</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="not"><h2>Noticias</h2></div>
				<div class="card-deck">
					<div class="card col-4">
						<div id="card-inside">
							<img th:src="@{/img/suspendidos.jpg}" alt="suspendidos" class="card-img" src="../static/img/suspendidos.jpg">
							<div class="card-body">
								<h4 class="card-title">12/03/20</h4>
								<p class="card-text">Nueva noticia de los partidos suspendidos por la cuarentena</p>
							</div>
						</div>
					</div>
					<div class="card col-4">
						<div id="card-inside">
							<img th:src="@{/img/repeticion.jpg}" alt="repeticion" class="card-img" src="../static/img/repeticion.jpg">
							<div class="card-body">
								<h4 class="card-title">13/03/20</h4>
								<p class="card-text">Repetición de la transmición en vivo de la final de la copa anual de profesional</p>
							</div>
						</div>
					</div>
					<div class="card col-4">
						<div id="card-inside">
							<img th:src="@{/img/reprog.jpg}" alt="reprog" class="card-img" src="../static/img/reprog.jpg">
							<div class="card-body">
								<h4 class="card-title">20/03/20</h4>
								<p class="card-text">Reprogramación de sorteos para las próximas fechas</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="publicidad col-3">
				<div class="ausp"><h3>Auspiciantes</h3></div>
				<div>
				<img alt="adidas" class="ausp-img" src="../static/img/adidas.jpg">
				<img alt="santander" class="ausp-img" src="../static/img/santander.jpg">
				<img alt="chevrolet" class="ausp-img" src="../static/img/chevrolet.jpg">
				<img alt="fravega" class="ausp-img" src="../static/img/fravega.jpg">
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-details">
					<p><b>Av.Pedro Ortiz de Zárate N°455 - Tel 3884789555</b></p>
					<p><b>© 2020 LaLiga</b></p>
			</div>
			<div class="footer-redes">
			<p><h4>Seguínos:</h4></p>
				<div class="red"><img alt="instagram" class="redes-img" src="../static/img/instagram.png"> @laliga</div>
				<div class="red"><img alt="facebook" class="redes-img" src="../static/img/facebook.png"> La Liga</div>
				<div class="red"><img alt="twitter" class="redes-img" src="../static/img/twitter.png"> @LaLiga</div>
				<div class="red"><img alt="youtube" class="redes-img" src="../static/img/youtube.png"> LaLiga</div>
			</div>
		</div>
	</div>

</body>
</html>