<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<meta charset="ISO-8859-1">
<title>Liga de fútbol profesional- Home</title>
</head>
<body>

	<div class=principal>
		<div>
			<div class="title">
				<h1 class="title1">Liga de futbol profesional</h1>
			</div>
			<div class="nav">
				<nav>
					<a class="nav-link" href="inicio">Home</a>
					<a class="nav-link" href="fixture">Fixture y resultados</a>
					<a class="nav-link" href="equipos">Equipos</a>
				</nav>
			</div>
		</div>
		<div class="row0">
			<div class="cont colum-9">
				<div class="not"><h2>Noticias</h2></div>
				<div class="card-deck0" th:each="noticia : ${todasLasNoticias}">
					<div class="card-0 colum-4">
						<div id="card-inside0">
							<img th:src="@{/img/suspendidos.jpg}" alt="suspendidos" class="card-img0" src="../static/img/suspendidos.jpg">
							<div class="card-body0">
								<h5 class="card-title0" th:text="${noticia.titulo}">12/03/20</h5>
								<p class="card-text0" th:text="${noticia.resumen}">Nueva noticia de los partidos suspendidos por la cuarentena</p>
							</div>
						</div>
					</div>
					<!-- <div class="card-0 colum-4">
						<div id="card-inside0">
							<img th:src="@{/img/repeticion.jpg}" alt="repeticion" class="card-img0" src="../static/img/repeticion.jpg">
							<div class="card-body0">
								<h5 class="card-title0">13/03/20</h5>
								<p class="card-text0">Repetición de la transmición en vivo de la final de la copa anual de profesional</p>
							</div>
						</div>
					</div>
					<div class="card-0 colum-4">
						<div id="card-inside0">
							<img th:src="@{/img/reprog.jpg}" alt="reprog" class="card-img0" src="../static/img/reprog.jpg">
							<div class="card-body0">
								<h5 class="card-title0">20/03/20</h5>
								<p class="card-text0">Reprogramación de sorteos para las próximas fechas</p>
							</div>
						</div>
					</div>-->
				</div>
			</div>
			<div class="publicidad colum-3">
				<div class="ausp"><h3>Auspiciantes</h3></div>
				<div>
				<img th:src="@{/img/adidas.jpg}" alt="adidas" class="ausp-img" src="../static/img/adidas.jpg">
				<img th:src="@{/img/santander.jpg}" alt="santander" class="ausp-img" src="../static/img/santander.jpg">
				<img th:src="@{/img/chevrolet.jpg}" alt="chevrolet" class="ausp-img" src="../static/img/chevrolet.jpg">
				<img th:src="@{/img/fravega.jpg}"alt="fravega" class="ausp-img" src="../static/img/fravega.jpg">
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-details">
					<p><b>Av.Pedro Ortiz de Zárate N°455 - Tel 3884789555</b></p>
					<p><b>© 2020 LaLiga</b></p>
			</div>
			<div class="footer-redes">
			<p><h4>Seguínos:</h4></p>
				<div class="red"><img th:src="@{/img/instagram.png}" alt="instagram" class="redes-img" src="../static/img/instagram.png"> @laligaAFA</div>
				<div class="red"><img th:src="@{/img/facebook.png}" alt="facebook" class="redes-img" src="../static/img/facebook.png"> La Liga AFA</div>
				<div class="red"><img th:src="@{/img/twitter.png}" alt="twitter" class="redes-img" src="../static/img/twitter.png"> @LaLigaAFA</div>
				<div class="red"><img th:src="@{/img/youtube.png}" alt="youtube" class="redes-img" src="../static/img/youtube.png"> LaLigaAFA</div>
			</div>
		</div>
	</div>

</body>
</html>